<h1><%= @specie.name %></h1>

<h3> Edit Species </h3>
<% if @specie.errors.any? %>
  <h3>Please fix the following errors:</h3>
  <ul>
    <% @specie.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<form action="/species/<%= @specie.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="specie_name">Name:</label>
  <input id="specie_name" name="specie[name]" type="text" value="<%= @specie.name %>">
  <button>Rename Species</button>
</form>
<a href="/species/<%= @specie.id %>"
           data-confirm="Are You Sure?"
           data-method="delete"
           rel="nofollow">Delete Species</a>


<h3>Sightings</h3>
<ul>
  <% @specie.sightings.each do |sighting| %>
    <li>
    <% if sighting.region != nil %>
      <%= sighting.location %> in the <%= sighting.region.name %> region, on <%= sighting.date.strftime("%b %e, %Y") %>
    <% else %>
      <%= sighting.location %>, on <%= sighting.date.strftime("%b %e, %Y") %>
    <% end %>

    <br /><a href="/species/<%= @specie.id %>/sightings/<%= sighting.id %>/edit">EDIT</a>    |
      <a href="/species/<%= @specie.id %>/sightings/<%= sighting.id %>"
                data-confirm="Are You Sure?"
                data-method="delete"
                rel="nofollow">DELETE</a>
    </li>

  <% end %>
</ul>

<% if @sighting.errors.any? %>
  <h3>Please fix the following errors:</h3>
  <ul>
    <% @sighting.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h3>Add a Sighting</h3>
<form action="/species/<%= @specie.id %>" method="post">
  <label for="sighting_date">Date (YYYY-MM-DD):</label>
  <input id="sighting_date" name="sighting[date]" type="text">
  <input id="sighting_specie" name="sighting[specie_id]" type="hidden" value="<%= @specie.id %>">
  <select name="sighting[region_id]">
    <% Region.all.each do |region| %>
      <option value="<%= region.id %>"><%= region.name %></option>
    <% end %>
  </select>
  <label for="sighting_location">Location:</label>
  <input id="sighting_location" name="sighting[location]" type="text">
  <br /><button>Add a Sighting</button>
</form>

<p><a href="/">Return to Wildlife Tracker</a></p>
